*{margin:0; padding: 0}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #1C2A33;
    color: rgb(201, 203, 201);
    padding: 3% 0;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /*border: 2px solid white;*/
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50px 2fr 1fr;
    grid-gap: 30px;

}

.article {
    margin: 20px auto;
    width: auto;
    height: auto;
    background-color: #46525E;
    border: 4px solid #0E0E0E;
    border-radius: 7px;
    text-align: left;
    padding: 30px 40px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #aaafa0;
}

.grid-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.users > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

a.person {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

li:hover {
    color: #fff;
    background-color: #46525E;
    border-radius: 7px;
}

.btn {
    display: inline;
    margin: auto 10px;
  
}

.btn-outline-danger:active {
   transform: rotate(25deg);
   transition: all 235ms ease-in-out;
  }

.card {
    flex-direction: row !important;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    width: 100%;
    height: 250px;
    display: flex;
}

.card-img-top {
    object-fit: cover;
    object-position: top;
}

.posts, .users, .navigation {
    height: 100vh;
    overflow: auto;
}


::-webkit-scrollbar {
    display: none;
}


.card-title {
    text-transform: capitalize;
}

.card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.remove {
    display: none;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

